
clientTCP/app/file_speriamo.txt
clientTCP/app/file_speriamo.html
clientTCP/app/__pycache__/translator.cpython-38.pyc
clientTCP/app/__pycache__/tgScraper.cpython-38.pyc
clientTCP/app/__pycache__/tgFetch.cpython-38.pyc
clientTCP/app/translators copy.txt
clientTCP/app/ultimi_messaggi.json
